<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/index.css">
    <title>Buscar tareas</title>
</head>

<body>
<header class="navbar">
    <div class="logo"><p class="titulo">Administrador de tareas</p></div>
</header>

<main class="dashboard">
    <aside class="sidebar">
        <h3>MENÚ</h3>
        <ul>
            <li onclick="window.location.href='/tareas'">Ver tareas</li>
            <li onclick="window.location.href='/tareas/agregar'">Agregar tarea</li>
            <li onclick="window.location.href='/tareas/buscar'">Buscar tarea</li>
            <li onclick="window.location.href='/tareas/ordenar'">Ordenar por prioridad</li>
        </ul>
    </aside>

    <section class="content">
        <h2>Buscar tarea</h2>

        <form action="/tareas/buscar" method="post">
            <input type="text" name="query"
                   placeholder="Nombre de la tarea"
                   th:value="${query}">
            <button type="submit" class="btn-action">Buscar</button>
        </form>

        <div class="window">
                <h3>Resultados</h3>

                <div th:each="t, i : ${resultados}" class="solicitud-card">

                    <h4>Resultado <b th:text="${i.index + 1}"></b></h4>

                    <p><b th:text="${t.titulo}"></b></p>
                    <p th:text="${t.descripcion}"></p>
                    <p>Prioridad: <b th:text="${t.prioridad}"></b></p>

                    <button class="btn-action"
                            th:onclick="'window.location.href=\'/tareas/editar/' + ${i.index} + '\''">
                        Editar
                    </button>

                    <form action="/tareas/eliminar" method="post">
                        <input type="hidden" name="id" th:value="${i.index}">
                        <button class="btn-action" style="background-color:#e57373;">Eliminar</button>
                    </form>
                </div>
        </div>
    </section>
</main>

</body>
</html>
