<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/index.css">
    <title>Ordenar tareas</title>
</head>

<body>
<header class="navbar">
    <div class="logo"><p class="titulo">Administrador de tareas</p></div>
</header>

<main class="dashboard">
    <aside class="sidebar">
        <h3>MENÚ</h3>
        <ul>
            <li onclick="window.location.href='/tareas'">Ver tareas</li>
            <li onclick="window.location.href='/tareas/agregar'">Agregar tarea</li>
            <li onclick="window.location.href='/tareas/buscar'">Buscar tarea</li>
            <li onclick="window.location.href='/tareas/ordenar'">Ordenar por prioridad</li>
        </ul>
    </aside>

    <section class="content">
        <h2>Ordenar por prioridad</h2>

        <button onclick="window.location.href='/tareas/ordenar?tipo=asc'" class="btn-action">Ascendente</button>
        <button onclick="window.location.href='/tareas/ordenar?tipo=desc'" class="btn-action">Descendente</button>

        <div class="window">
            <div th:each="t : ${ordenadas}" class="solicitud-card">
                <p><b th:text="${t.titulo}"></b></p>
                <p th:text="${t.descripcion}"></p>
                <p>Prioridad: <b th:text="${t.prioridad}"></b></p>
            </div>
        </div>
    </section>
</main>

</body>
</html>
